@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style: none;
}

/* -------------- Header Section -----------  */

header{
    background: url(./../assets/imgs/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px 10%;
    display: flex;
    justify-content: right;   
    background-repeat: no-repeat; 
}
.header__content{
    text-align: right;
}
.header__content h1{
    font-size: 65px;
    font-weight: 700;
    color: #151414;
}
.header__content p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-top: 36px;
}
.header__content a{
    display: inline-block;
    background: #E08668;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 16px;
    border-radius: 4px;
    margin-top: 36px;
    transition: 0.3s all ease-in-out;
}
.header__content a:hover{
    background: #dd9076;
    box-shadow: 1px 1px 5px #444343;
    color: #fceaea;
}


/* ------------ Failure Section ---------  */
#failure{
    padding: 120px 0;
}
.failure__content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.failure__content-img{
    padding: 50px 150px;
    flex-basis: 50%;
    position: relative;
}
.failure__content-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 70%;
    width: 50%;
    margin-left: 10%;
    background: transparent;
    border: 20px solid #E0A8B1;
    border-radius: 8px;
    z-index: -1;
}
.failure__content-img img{
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    z-index: 2;
}

.failure__text-content{
    padding-left: 50px;
    flex-basis: 50%;
}
.failure__text-content h2{
    font-size: 40px;
    color: #151414;
    font-weight: 700;
}
.failure__text-content p{
    font-size: 16px;
    color: #444343;
    padding-right: 200px;
    margin: 36px 0;
}
.failure__text-content ul li{
    margin: 0 0 10px 36px;
    position: relative;
}
.failure__text-content ul li::before{
    position: absolute;
    content: '\2714';
    color: green;
    left: -36px;
    font-weight: 600;
}


/* ---------------- Planning Section -----------  */
#planning{
    padding-bottom: 100px;
}
.planning__content{
    width: 80%;
    margin: 0 auto;
}
.planning__content h2{
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 36px;
    font-weight: 700;
}
.planning__cards{
    display: flex;
    justify-content: space-around;
    flex-basis: 25%;
    align-items: center;
}
.planning__cards .card-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 24px;
}
.planning__cards .card-item h3{
    font-size: 30px;
    color: #151414;
    margin: 24px 0;
    font-weight: 700;
}
.planning__cards .card-item p{
    font-size: 20px;
    color: #444343;
    font-weight: 500;
}

/* ------------- Certification Section ------------  */
#certification{
    margin-bottom: 100px;
}
#certification h2{
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin: 36px 0;
}
.certification__container{
    width: 80%;
    background-image: linear-gradient(to right, #E0A9AF, #d4acb1c9);
    border-radius: 8px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.certification__text-content h3{
    font-size: 30px;
    font-weight: 600;
    color: #151414;
    margin-bottom: 24px;
}
.certification__text-content p:first-child{
    font-size: 16px;
    font-weight: 500;
    color: #444343;
}
.certification__text-content a{
    font-weight: 600;
    font-size: 18px;
    color: #FF194F;
}
.certification__text-content p:last-child{
    font-size: 14px;
    font-weight: 400;
    color: #444343;
    margin-top: 12px;
}
.certification__img-content img{
    width: 150px;
    height: auto;
    border-radius: 5px;
}


/* -------------- Mindset Section -----------  */

.mindset__container{
    width: 80%;
    padding: 60px 50px;
    background: url(./../assets/imgs/watch.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.mindset__container::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #E08668, #e0866800);
}
.mindset__container .mindset__content{
    z-index: 3;
    position: relative;
}
.mindset__container .mindset__content h2{
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}
.mindset__container .mindset__content a{
    font-size: 24px;
    color: #E08668;
    font-weight: 600;
    display: inline-block;
    background: #FFFFFF;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s all ease-in-out;
}
.mindset__container .mindset__content a:hover{
    background: #ecebeb;
    box-shadow: 1px 1px 5px #444343;
}



/* -------------- Footer Section ------------  */
#footer{
    background: #151414;
    margin-top: 150px;
}
.footer__container{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.footer__text-content{
    color: #FFFFFF;
    flex-basis: 50%;
}
.footer__text-content h2{
    font-size: 45px;
    margin-bottom: 26px;
}
.footer-text{
    font-size: 16px;
    padding-right: 200px;
    margin-bottom: 24px;
}
.footer-contact{
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer-contact a{
    color: #FFFFFF;
    font-weight: 600;
}
.social-icons{
    margin-top: 24px;
}
.social-icons .icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    position: relative;
    margin-right: 8px;
}
.social-icons .icon i{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social-icons .icon:nth-child(1) i{
    color: #006AFF;
}
.social-icons .icon:nth-child(2) i{
    color: #1DA1F2;
}
.social-icons .icon:nth-child(3) i{
    color: #DE1522;
}

    

/* -------- Footer Form --------  */
.footer__form{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 360px;
}
.footer__form h3{
    font-size: 30px;
    font-weight: 700px;
    color: #FFFFFF;
}

.footer__form form input[type='email'] {
    width: 100%;
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #ecebeb;
    padding: 24px 12px;
    border-radius: 8px;
    margin: 24px 0;
    display: block;
}
.footer__form form input::placeholder{
    font-size: 16px;
}
.footer__form form button{
    display: inline-block;
    background: #FFFFFF;
    padding: 14px 16px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #E08668;
    font-weight: 600;
    transition: 0.3s all ease-in-out;
}
.footer__form form button:hover{
    box-shadow: 1px 1px 5px #e6e6e6;
}